bars/*-eps-converted-to.pdf
boxplots/*-eps-converted-to.pdf
heterogeneous.aux
heterogeneous.bbl
heterogeneous.fdb_latexmk
heterogeneous.fls
heterogeneous.log
heterogeneous.pdf
heterogeneous.spl
*-eps-converted-to.pdf
